* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 2%;
  position: relative;
  background-color: #222831;
}

tbody a {
  color: #eeeeee;
  text-decoration: underline;
}

tbody a:hover {
  text-decoration: none;
  color: #eeeeee
}

.body {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  color: #eeeeee;
}

.table {
  color: #eeeeee;
}

.btn {
  color: #eeeeee;
}

.icon-container {
  position: relative;
}

.cityNotValid {
  display: none;
}

.formNotValid {
  display: none;
}

#icon {
  position: absolute;
  right: 2%;
  top: 20%;
  width: 24px;
  cursor: pointer;
}

#icon:hover {
  border: 1px solid black;
}

#newField {
  display: none;
}

.my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}

.table-wrapper-scroll-y {
display: block;
}

@media screen and (max-width: 1007px) {
  body {
    height: 150vh;
  }
}
